<%-include("../components/head.ejs")%>
  <body>

    <%-include("../components/nav.ejs")%>
    <h1><%= title %></h1>

    <% if(peliculas_list.length <= 0) { %>
      <h2>No hay películas registradas</h1>
    <% }  %>

    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Año</th>
                <th>Duración</th>
                <th>Categoría</th>
                <th>Clasificación</th>
                <th>Administrar</th>
            </tr>
        </thead>
        <tbody>
            <% peliculas_list.forEach((peli, i) => { %>
                <tr>
                    <td><%= peli.titulo %></td>
                    <td><%= peli.anio %></td>
                    <td><%= peli.duracion %></td>
                    <td><%= peli.categoria %></td>
                    <td><%= peli.clasificacion %></td>
                    <td>    
                      <a href="/peliculas/actualizar/<%= peli.id %>" class="button">Editar</a>
                      
                      <form action="/peliculas/eliminar/<%= peli.id %>/?_method=DELETE" method="post" onsubmit="return confirm('¿Estás seguro de eliminar esta película?');">
                        <input type="submit" class="button" value="X">
                      </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

  </body>

<%-include("../components/footer.ejs")%>